<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <uses-feature
      android:name="android.hardware.bluetooth_le"
      android:required="true" />
  <uses-feature
      android:name="android.hardware.bluetooth"
      android:required="true" />

  <application
      android:name=".Application"
      android:allowBackup="true"
      android:icon="@drawable/ic_ohealp"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.MyApplication">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.MyApplication.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name=".service.MyService" />
    <service android:name=".service.ble.ServiceBleHandler" />

    <service android:name=".temp.sound.SoundService" />
    <service android:name=".temp.bound.BoundService" />
    <service android:name=".temp.foreground.ForegroundService" />

    <receiver android:name=".service.alarm.AlarmReceiver" />
    <receiver android:name=".temp.ble.BLEScanReceiver" />
    <receiver android:name=".service.StopAlarmAction" />

  </application>

</manifest>